.homePageDiv {
    height: 100vh;
    background-image: linear-gradient(to bottom, #c0e390  0%, white  100%);
}

#bannerDiv {
    height: 600px;
    position: absolute;
    top: 95px;
    width: 1500px;
    z-index: 2;
}

.bannerImg {
    height: 100%;
    width: 100%;
}

