.productsIndexPage {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.productsIndexDivider {
    width: 100%;
    height: 0.5px;
    margin: 35px 0;
    background: linear-gradient(to right, 
        rgb(184, 184, 184), 
        rgb(184, 184, 184), 
        rgb(184, 184, 184));
    box-shadow:  1px 4px 8px  #636262;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 35px;
    margin-right: 100px;
    margin-left: 100px;
}

.productContainer {
    border: 1px solid #d5d9d9;    
    border-radius: 7px;
    padding: 25px;
    max-width: 280px;
    min-width: 280px;
    min-height: 420px;
    max-height: 420px;
    background-color: #FFFFFF;
    text-align: center;
}

.productImage {
    width: 240px;
}

.containerContent {
    margin-top: 30px;
    border-radius: 10px;
    text-align: left;
}

.productName {
    color: #007185;
    display: block;
    max-width: 100%;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    font-weight: 100;
    padding-bottom: 10px;
    height: 45px;
    max-height: 50px;
}

.productName:hover {
    color: #C45500; 
    text-decoration: underline; 
}

.productPrice {
    color: #B12704!important;
    font-size: 14px!important;
    font-weight: 100;
}

.primeLogoDiv {
    /* border: 1px solid black; */
    text-align: right;
    
    /* display: inline; */
    /* position: relative; */
}

.primeLogoImg {
    height: 50px;
    width: 50px
}

.lastLineDiv {
    display: flex;
    justify-content: space-between;
}