.footerDiv {
    list-style: none;
    margin: 0;
    background-color: #131921;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 25px;
    padding-right: 25px;
}

.upperFooter {
    list-style: none;
    position: relative;
    top: 50px;
    padding: 11px;
    background-color: #37475A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 30px;
}

.upperFooter:hover {
    background-color: #4b5968;
    cursor: pointer;
}

.bottomFooter {
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
}